extend layout
block content

  label Nombre
  input#nombre
  label Apellido
  input#apellido

  button#boton Saludar

  marquee#saludo

  script.
    $(document).ready(function(){
        $('#boton').on('click', function(){

            var nombre = $('#nombre').val();
            var apellido = $('#apellido').val();

            $.post( "/", {name: nombre, lastname: apellido}, function( data ) {
                $('#saludo').html('<h1>' + data.message + '</h1>');
            });
        });
    });
