doctype
html
  head
    title Libro de visitas - My Site
    link(rel='stylesheet', href='/css/main.css', type='text/css')
    script(src='/jquery.js')
  body
    header
      h1 Mi libro de visitas
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express & Jade
