doctype
html
  head
    title #{title} - My Site
    script(src='jquery.js')
  body
    header
      h1 Hola
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express & Jade
