
#entries
  ul
    list-style: none
  li
    display: inline-block
    margin: 0.5rem
    background-color: white
    border: 2px solid avocado-color
    width: 7rem
    height 4rem
    text-align: center
    vertical-align: middle
    line-height 4rem
    transition 0.2s
    &:hover
      background-color: maice-color
      border-color: blue-pop-color
      color: toast-color
      a
        color: toast-color

  a, a:hover, a:visited, a:link, a:active
    text-decoration: none
    color: blue-pop-color
    font-weight: bold



#entry
  #entry-name 
    font-size: 2rem
    color: blue-pop-color
    font-weight: bold
  #entry-message
    font-size: 1.2rem
    color: toast-color